@mixin font($f-name, $f-style, $f-weight, $f-url) {
  @each $f-name, $f-style, $f-weight, $f-format in (eot, ttf, woff, woff2){
    @font-face {
      font-family: $f-name;
      font-style: $f-style;
      font-weight: $f-weight;
      src: url($f-url) format($f-format);
      font-display: swap;
    }
  }
}

$f-url: '/fonts';

@include font('alsrubl-400', Regular, 400, '#{$f-url}/ALSRubl/ALSRubl-Regular');

/* hint
100 - Thin (Hairline)
200 - Extra Light (Ultra Light)
300 - Light (Book)
400 - Normal (Regular)
500 - Medium
600 - Semi Bold (Demi Bold)
700 - Bold
800 - Extra Bold (Ultra Bold)
900 - Black (Heavy)
*/

/* Fonts bitbucket
git clone git@bitbucket.org:artemknutov/avenirnextcyr.git
git clone git@bitbucket.org:artemknutov/formular.git
git clone git@bitbucket.org:artemknutov/gothampro.git
git clone git@bitbucket.org:artemknutov/opensans.git
git clone git@bitbucket.org:artemknutov/pfdindisplaypro.git
git clone git@bitbucket.org:artemknutov/play.git
git clone git@bitbucket.org:artemknutov/sf-pro-display.git
*/
